*{background-color: white}
* {
background-color: #2e9c2f;
}

h1 {
font-size: 2.5rem;
color: #4a4822;
font-weight: 600;
}

h2 {
font-size: 2rem;
color: #4a4822;
}

h3 {
font-size: 1.5rem;
color: #4a4822;
}

a {
background-color: #3a4660;
color: #c9af98;
text-decoration: none;
padding: 20px;
}
